.navbar {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-home, .navbar-about, .navbar-portfolio {
    color: rgb(21, 17, 16);
    cursor: pointer;
    font-size: 16px;
}

.navbar-home {
    margin-left: 20px;
}

.navbar-home:active {
    opacity: 0.6;
}

.navbar-about {
    margin-left: 20px;
}

.navbar-about:active {
    opacity: 0.6;
}

.navbar-portfolio {
    margin-left: 20px;
}

.navbar-portfolio:active {
    opacity: 0.6;
}

.navbar-mid {
}

.brand {
    height: 50px;
    width: 60px;
    margin-top: 2px;
    vertical-align: middle;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact {
    background-color: rgb(137, 196, 217);
    color: rgb(250, 249, 247);
    width: 130px;
    padding: 25px 16px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.contact:hover {
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}

.contact:active {
    opacity: 0.8;
}